body {
  background-color: #dbded5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#menunav {
  color: #dbded5;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  margin: 1em;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 325px;
  height: 100%;
}

.linknav {
  color: #0d2f02;
  text-decoration: none;
  height: 100%;
}

#fale-comigo {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.quadros {
  display: flex;

  justify-content: center;
  align-items: center;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.botao {
  margin-top: 25px;
}

.button {
  background-color: #0d2f02;
  border-radius: 15px;
  border: none;
  color: #dbded5;
  font-size: 20px;
  width: 250px;
  height: 60px;
  outline: none;
  transition: 0.3s;
}

.button:hover {
  background-color: #114102;
}

#imagem {
  display: flex;
  align-items: center;
  background-color: none;
}

.sobrepor {
  position: absolute;
  color: #0d2f02;
  font-size: 20px;
  margin-top: 225px;
  margin-left: 60px;
}

.glider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide {
  background-color: #c7ccdf;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#im1 {
  display: flex;
}

#im2 {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-areas: "menu main";
  gap: 10px;
  max-width: 600px;
  margin-top: 50px;
}

.fisio {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 0;
}

.item2 {
  margin-top: 15px;
  text-align: justify;
}

.item3 {
  display: none;
}

#fcima {
  margin-top: 25px;
}

.icons {
  width: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 5px;
}

@media only screen and (max-width: 768px) {
  .quadros {
    flex-direction: column;
    margin-top: 0rem;
    margin-right: 25px;
  }

  .im {
    height: 300px;
  }

  #fale-comigo {
    margin-top: 20px;
  }

  #img-luana {
    height: 400px;
  }

  #sobre-mim,
  #fale-luana {
    background-color: #dbded5;
    width: 100%;
  }

  .sobrepor {
    margin-top: 140px;
    margin-left: 45px;
    font-size: 15px;
  }

  .botoes {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .button {
    width: 300px;
  }

  #fale-comigo {
    margin: 0;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .icons {
    width: 100%;
  }
  .imgs {
    height: 200px;
  }

  .quadros {
    margin: 0;
  }

  #im2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #fale-comigo {
    margin: 0;
    margin-top: 25px;
  }

  #imagem {
    background-color: #c7ccdf;
    width: 100%;
  }

  #im1 {
    display: none;
  }

  .grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
  }

  .item2 {
    text-align: center;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }
  .item3 {
    display: flex;
  }
  .item1 {
    display: none;
  }

  .botoes {
    margin-top: 25px;
  }

  .glider-contain {
    width: 100%;
  }
}
